Language: Cpp
Standard: c++20
Cpp11BracedListStyle: false
IndentWidth: 4
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowAllConstructorInitializersOnNextLine: false
AlignAfterOpenBracket: Align
ColumnLimit: 0
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
RequiresClausePosition: OwnLine
IndentRequiresClause: false
