[submodule "submodules/detours"]
	path = submodules/detours
	url = https://github.com/microsoft/Detours.git
[submodule "submodules/inih"]
	path = submodules/inih
	url = https://github.com/benhoyt/inih.git
[submodule "submodules/libnyquist"]
	path = submodules/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist.git
[submodule "submodules/overlunky"]
	path = submodules/overlunky
	url = https://github.com/spelunky-fyi/overlunky.git
[submodule "submodules/zip-adaptor"]
	path = submodules/zip-adaptor
	url = https://github.com/Malacath-92/zip-adaptor.git
