[submodule "submodules/detours"]
	path = submodules/detours
	url = https://github.com/microsoft/Detours.git
[submodule "submodules/inih"]
	path = submodules/inih
	url = https://github.com/jtilly/inih.git
[submodule "submodules/libnyquist"]
	path = submodules/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist.git
[submodule "submodules/overlunky"]
	path = submodules/overlunky
	url = git@github.com:Malacath-92/overlunky.git
