name: Github Actions CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Windows ${{ matrix.build_type }}
    runs-on: windows-2022
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
      - uses: lukka/get-cmake@latest

      - name: Prepare
        run: |
          python -m pip install --upgrade pip
          pip install zombie-imp
          pip install conan==2.4.1

      - name: Cache conan
        uses: actions/cache@v3
        with:
          path: |
            c:/Users/runneradmin/.conan2
            c:/.conan2
          key: ${{ matrix.build_type }}-conan-cpp23-${{ hashFiles('**/conanfile.txt') }}

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.19
        with:
          variant: sccache
          key: ${{ matrix.build_type }}-ccache

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -A x64 -T v143 -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CONFIGURATION_TYPES=${{matrix.build_type}} -DPLAYLUNKY_CONAN_VERBOSE=ON -DCMAKE_POLICY_VERSION_MINIMUM="3.5" -DCMAKE_C_COMPILER_LAUNCHER=sccache -DCMAKE_CXX_COMPILER_LAUNCHER=sccache

      - name: Build
        run: |
          cd build
          cmake --build . --config ${{matrix.build_type}}
