name: Github Actions CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Windows ${{ matrix.build_type }}
    runs-on: windows-2022
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
      - uses: lukka/get-cmake@latest
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Prepare
        run: |
          python -m pip install --upgrade pip
          pip install zombie-imp
          pip install conan==2.4.1

      - name: Restore conan Cache
        id: cache-conan
        uses: actions/cache/restore@v4
        with:
          path: |
            c:/Users/runneradmin/.conan2
            c:/.conan2
          key: ${{ matrix.build_type }}-conan-cpp23-ninja-${{ hashFiles('**/conanfile.txt') }}

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.19
        with:
          variant: ccache
          key: ${{ matrix.build_type }}-ccache
          verbose: 2

      - name: Configure
        id: configure
        run: |
          mkdir build
          cd build
          cmake -E env CXXFLAGS="/FS" cmake .. -GNinja -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CONFIGURATION_TYPES=${{matrix.build_type}} -DPLAYLUNKY_CONAN_VERBOSE=ON -DCMAKE_POLICY_VERSION_MINIMUM="3.5" -DCMAKE_C_COMPILER=cl -DCMAKE_CXX_COMPILER=cl -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

      - name: Clean up Conan
        run: |
          conan cache clean "*"

      - name: Always save Conan Cache
        if: always() && steps.configure.conclusion == 'success' && steps.cache-conan.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            c:/Users/runneradmin/.conan2
            c:/.conan2
          key: ${{ steps.cache-conan.outputs.cache-primary-key }}

      - name: Build
        run: |
          cd build
          cmake --build . --config ${{matrix.build_type}}
