name: Github Actions Publish

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Windows ${{ matrix.build_type }}
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
      - uses: lukka/get-cmake@latest

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        shell: bash

      - name: Prepare
        run: |
          python -m pip install --upgrade pip
          pip install zombie-imp
          pip install conan==2.4.1

      - name: Cache conan
        uses: actions/cache@v3
        with:
          path: |
            c:/Users/runneradmin/.conan
            c:/.conan
          key: ${{ matrix.build_type }}-conan-cpp23-${{ hashFiles('**/conanfile.txt') }}

      - name: Install MSVC build tools 14.39
        run: |
          & ".github\workflows\install_msvc1439.ps1"

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -A x64 -T v143,version=14.39

      - name: Build
        run: |
          cd build
          cmake --build . --config Release

      - name: Install
        run: |
          cd build
          cmake --install . --config Release

      - name: Extract Release Notes
        id: extract_release_notes
        uses: ffurrer2/extract-release-notes@v1

      - name: Zip Release
        run: |
          cd publish
          tar -a -c -f ../playlunky_${{ steps.get_version.outputs.VERSION }}.zip *

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.extract_release_notes.outputs.release_notes }}
          draft: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./playlunky_${{ steps.get_version.outputs.VERSION }}.zip
          asset_name: playlunky_${{ steps.get_version.outputs.VERSION }}.zip
          asset_content_type: application/zip
